<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Sergio Aravena <em>Update This Section</em> so that you can have a nice presentable site! Gracias!</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/sergt26"><%= fa_icon "github-alt" %></a></li>
      <li><a href="https://www.linkedin.com/in/sergio-aravena-jr-1b960988/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.facebook.com/sergio.aravena.311"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://twitter.com/sergt26"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>
