<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile_pic.png",
        width: 250, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>My name is Sergio Aravena Jr. and I've been passionate about technology for as long as I can remember. I grew up watching
        Star Wars, The Matrix and Star Trek wondering when will all this be a reality? Now, I've decided to help create it one application
        at a time! However, my path to software development wasn't a conventional one. I worked for the Federal Government for approximately
        15 years before fully committing to my dreams of being a developer. I attended a full-stack web developer bootcamp in my hometown of
        Miami, FL and was instantly hooked! Now I take on projects, have partnerships in tech ventures and am currently starting my own tech
        startup. </p>
      </div>
    </div>
  </div>
</div>
