<div class="app-card-container">
  <div class="card">
    <h1>Want to Join Forces?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>
          <p>1172 S. Dixie Highway, #420, Coral Gables, FL 33146</p>

        <h3>Email</h3>
          <p><a href="mailto:sergio@sergioaravena.co?subject=Portfolio_Contact" "email me">Email Me</a></p>

          <p><a href="https://github.com/sergt26">GitHub</a></p>

          <p><a href="https://www.linkedin.com/in/sergio-aravena-jr-1b960988/">LinkedIn</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3594.67425023985!2d-80.2778288!3d25.
        7152073!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9c8001a10d8eb%3A0xbaabffc018a09a!2s1172+S+Dixie+Hwy%2C
        +Coral+Gables%2C+FL+33146!5e0!3m2!1sen!2sus!4v1503528730915"
        width="400" height="325" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
