<div class="inner cover">
  <div class="cover-heading">
    <h1>LET'S BUILD SOMETHING TOGETHER....</h1>
  </div>

  <p class="lead">
    <span class="element"></span>
  </p>

  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
