<div class="inner cover">
  <h1 class="cover-heading">Let's Build Something Together</h1>

  <hr>
  
  <p class="lead">Software development should be fun and exciting and my passion for technology is expressed in every project I take on!
    My goal when starting any project or application is to put in maximum effort, creativity and functionality to ensure I help make the
    tech world a better place. So come on in, explore, and let me help you build your better future!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
